<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">SWAG</title>



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav th:fragment="navigationEmployee">
    <a href="/employee">Employee List</a> |
    <a href="/employee/add">Add New Employee</a> |
    <a href="/employee/remove">Remove Employee</a>

</nav>

<nav th:fragment="navigationEmployeeCategory">
    <a href="/employeeCategory">Employee Category List</a> |
    <a href="/employeeCategory/add">Add New Employee Category</a> |
    <a href="/employeeCategory/remove">Remove Employee Category</a>

</nav>

<nav th:fragment="navigationShifts">
    <a href="/shifts">Shifts List</a> |
    <a href="/shifts/add">Add New Shift</a> |
    <a href="/shifts/remove">Remove Shift</a>

</nav>

<nav th:fragment="navigationSchedules">
    <a href="/schedules">Schedules List</a> |
    <a href="/schedules/add">Add New Schedule</a> |
    <a href="/schedules/remove">Remove Schedule</a>

</nav>

<footer th:fragment="navigationFooter">
    <a href="/employee">Employees </a> |
    <a href="/employeeCategory">Employee Categories</a> |
    <a href="/shifts">Shifts</a> |
    <a href="/schedules">Schedules</a>
</footer>


</body>
</html>