<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>




<ul>
    <li th:each="employeeCategory : ${categories}" th:text="${employeeCategory.name}"></li>


</ul>

<a th:href="@{employeeCategory/add}">Add Category</a> |
<a th:href="@{employeeCategory/remove}">Remove Category</a> |
<a th:href="@{employeeCategory/edit}">Edit Category</a>
</body>
</html>