<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigationEmployeeCategory"></nav>


<form method="post">

    <div th:each="employeeCategory : ${categories}" class="checkbox">
        <input type="checkbox" name="employeeCategoryIds" th:value="${employeeCategory.id}" th:id="${employeeCategory.id}"/>
        <label th:for="${employeeCategory.id}" th:text="${employeeCategory.name}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Category" />
</form>

<footer th:replace="fragments :: navigationFooter"></footer>
</body>
</html>